<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Status:</th>
      <td><%= leafe.status %></td>
    </tr>

    <tr>
      <th>Reason:</th>
      <td><%= leafe.reason %></td>
    </tr>

    <tr>
      <th>From date:</th>
      <td><%= leafe.from_date %></td>
    </tr>

    <tr>
      <th>To date:</th>
      <td><%= leafe.to_date %></td>
    </tr>

    <tr>
      <th>Leave type:</th>
      <td><%= leafe.leave_type %></td>
    </tr>
  </tbody>
</table>
